<!DOCTYPE html>
<html lang="ru-en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- INCLUDE CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'bootstrap-icons/font/bootstrap-icons.min.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet">
  <!-- Bootstrap JS + Popper JS -->
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=801caa4c-40cc-48be-bcfd-f7f196abd4f3&load=package.full&lang=ru-RU" type="text/javascript"></script>
  {% block scripts%}
  <script>
    ymaps.ready(init);

    function init() {
      var myMap = new ymaps.Map ('myMap', {
          center: [55.75, 37.61],
          zoom: 10
      });

      var multiRoute;

              document.getElementById('routeButton').onclick = function() {
                  // var startAddress = "Москва, Инновационный центр Сколково, Большой бульвар";
                  var startAddress = document.getElementById('start').value;
                  // var endAddress = "Красная площадь, Москва";
                  var endAddress = document.getElementById('end').value;

                  console.log(startAddress);
                  console.log(endAddress);

                  if (multiRoute) {
                      myMap.geoObjects.remove(multiRoute);
                  }

                  // Создаем геокодер для преобразования адресов в координаты
                  var geocoder = ymaps.geocode;

                  // Получаем координаты отправления
                  geocoder(startAddress).then(function (res) {
                      var startCoords = res.geoObjects.get(0).geometry.getCoordinates();

                      // Получаем координаты прибытия
                      return geocoder(endAddress).then(function (res) {
                          var endCoords = res.geoObjects.get(0).geometry.getCoordinates();

                          console.log(startCoords);
                          console.log(endCoords);
                          // Создаем маршрут
                          multiRoute = new ymaps.multiRouter.MultiRoute({
                              referencePoints: [startCoords, endCoords],
                              params: {
                                  results: 1
                              }
                          }, {
                              boundsAutoApply: true
                          });
                          // Добавляем маршрут на карту
                          myMap.geoObjects.add(multiRoute);
                          
                          // // Получаем координаты всех точек маршрута
                          // var routeCoordinates = multiRoute.getCoordinates();
                          // console.log('Координаты всех точек маршрута:');
                          // routeCoordinates.forEach(function(coords) {
                          //     console.log(`Широта: ${coords[1]}, Долгота: ${coords[0]}`);
                          // });

                      });
                  }).catch(function (error) {
                      alert('Не удалось найти указанные адреса. Пожалуйста, проверьте их.');
                  });
              };
    }
  </script>
 {% endblock scripts %} 

    <title>Main</title>
</head>


<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg bg-body-tertiary gx-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RoadScore</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/info"><i class="bi bi-patch-question"></i></a>
          </li>
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2">
            <li class="nav-item dropstart">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h8> <i class="bi bi-file-lock2-fill"></i></h8>
              </a>
              {% if user.is_authenticated %}
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="">Профиль</a></li>
                <li>
                  <form  action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class ="dropdown-item" type="submit">Выход</button>
                 </form>
                </li>
              </ul>
            	{% else %}
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'login' %}">Вход</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'register' %}">Регистрация</a></li>
              </ul>
          	  {% endif %}
             
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
    <div class="container-fluid">
        {% block content%}
        <p class="text-center">Приветcтвую
          {% if user.is_authenticated %}
              {{ user.get_username }}
          {% else %}
              Незнакомец
          {% endif %}
          в этом прекрасном месте
         </p>
         {% if user.is_authenticated %}
         <div class = "row">
          <div class = 'col-4 '>
             <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Точка отправления:</span>
              <input type="text"  id="start"  class="form-control"  placeholder="Введите адрес отправления" aria-label="Введите адрес отправления" aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>
          <div class = 'col-4'>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Точка прибытия:</span>
              <input type="text"  id="end"  class="form-control" placeholder="Введите адрес прибытия"aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>
          <div class = 'col-4'>
            <div class="input-group mb-3">
              <button id="routeButton" class ="btn btn-sm btn-info">Построить маршрут</button>
              <button  class ="btn btn-sm btn-warning">Оценить качество дороги</button>
            </div>
            
          </div>
         </div>
         <div class = "row">
          <div class="col-12" id="myMap">
              
          </div>
         </div>
        
         {% endif %}
        {% endblock content %}     
    </div>
    <footer class="mt-auto">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-body" href="/">RoadScore.com</a>
      </div>
    </footer>
</body>
</html>

